.login{
    background-color: transparent;
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.2);   
    height:26.875rem;
    width:28.125rem;
    margin:0;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 27.5rem;
    backdrop-filter: blur(1.875rem);
box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2); 
margin-top: 100px;  

}
.text{
    color: white;
    font-size:1.875rem ;
    font-weight: bold;
    padding-top: 35px;
}
.email{
    padding:0.625rem;
    text-align: center;
    background-color: transparent;
    border-radius: 3.125rem;
    width:23.75rem;
    color: white;
    border:1px solid rgba(255, 255, 255, 0.2);   
}
.line{
    padding: 0.9375rem;
}
.submit{
    padding: 0.625rem;
    border-radius: 3.125rem;
    text-align: center;
    width: 23.75rem;
    color: black;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);   
    background-color: white;
}
    
.pass{
    padding: 0.625rem;
    background-color: transparent;
    border-radius: 3.125rem;
    width: 23.75rem;
    text-align: center;
    color: white;
    border:1px solid rgba(255, 255, 255, 0.2);  
}
::placeholder {
    color: white;
    opacity: 0.7; 
  }
.texts{
    padding: 0.625rem;
    background-color: transparent;
    border-radius: 3.125rem;
    width: 23.75rem;
    text-align: center;
    color: white;
}
    
.remembers{
    padding: 0.625rem;
    color: white;
    text-decoration: none;
    padding-left: 0.1875rem;
}
.remembers a {
    color: azure;
    text-decoration: none;
    padding-left: 0.1875rem; /* 3px converted to rem */
}

.remembers label {
    color: azure;
    text-decoration: none;
    padding-right: 7.5rem; /* 120px converted to rem */
}
.p{
    color: hwb(0 100% 0% / 0.681);
    padding-left: 10px;
    /* padding-right: 50px; */
}
.p a{
    color:white;
    text-decoration: none;
    padding-left:0.625rem;
}
@media (max-width: 768px) {
    .login {
        margin-left: 50px;
        margin-top: 26vh;
        width: 80%;
        height: 20rem;
    }
    
    .text {
        padding: 0;
        margin: 0;
        margin-top: 1rem;
       
        
        font-size: 1.5rem;
    }
    .email {
        margin: 0;
        margin-top: 2.5rem;
        padding: 0.25rem;
        width: 18rem;
    }
    .submit{
        padding: 0.25rem;
        width: 18rem;
        margin: 0;
    }
    .pass{
        padding: 0.24rem;
        width: 18rem;
    }   
    .remembers{
        padding:0;
        margin-top: 2rem;
    }
    .texts{
        width: 19rem;
        padding: 0;
        font-size: 0.9rem;
    }
    .remembers a{
        padding: 0;
    }
    .remembers label{
        padding-right: 1.9rem;
    }
    .line{
        padding: 0.3rem;
    }
}