
.newlog{
    background-color:red;
    border: 5px solid yellow;    
    border-color: green;
    height:420px;
    width:450px;
    margin:0;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left:440px;

}
.username{
    padding:10px;
    background-color: transparent;
    border-radius: 50px;
}
.password{
    padding:10px;
    border-radius: 50px;
}
.remember a{
    color:azure;
    text-decoration: none;
    padding-left: 3px;
}