.signup {
    background-color: transparent;
    border-radius: 1.25rem; /* 20px converted to rem */
    border: 0.0625rem solid rgba(255, 255, 255, 0.2); /* 1px converted to rem */
    height: 26.875rem; /* 430px converted to rem */
    width: 28.125rem; /* 450px converted to rem */
    margin: 0;
    text-align: center;
    justify-content: center;
    margin-left: 27.5rem; /* 440px converted to rem */
    backdrop-filter: blur(1.875rem); /* 30px converted to rem */
    box-shadow: 0 0 0.625rem 0 rgba(255, 255, 255, 0.2); /* 10px converted to rem */
    margin-top: 6.25rem; /* 100px converted to rem */
}

.text {
    color: white;
    font-size: 1.875rem; /* 30px converted to rem */
    font-weight: bold;
    padding-top: 2.1875rem; /* 35px converted to rem */
}
.name {
    padding: 0.625rem; /* 10px converted to rem */
    text-align: center;
    background-color: transparent;
    border-radius: 3.125rem; /* 50px converted to rem */
    width: 23.75rem; /* 380px converted to rem */
    color: white;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2); /* 1px converted to rem */
}
.submit {
    padding: 0.625rem; /* 10px converted to rem */
    border-radius: 3.125rem; /* 50px converted to rem */
    text-align: center;
    width: 23.75rem; /* 380px converted to rem */
    color: black;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2); /* 1px converted to rem */
    background-color: white;
}
.p{
    color: hwb(0 100% 0% / 0.681);
    padding-left: 0.625rem;
    /* padding-right: 50px; */
}
.p a{
    color:white;
    text-decoration: none;
    /* padding-left: 100px; */
}
@media (max-width: 768px) {
    .signup {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
    }
}