.signup{
    background-color: transparent;
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.2);   
    height:430px;
    width:450px;
    margin:0;
    text-align: center;
    justify-content: center;
    margin-left:440px;
    backdrop-filter: blur(30px);
box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2); 
margin-top: 100px;       
}
.text{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 35px;
}
.name{
    padding:10px;
    text-align: center;
    background-color: transparent;
    border-radius: 50px;
    width:380px;
    color: white;
    border:1px solid rgba(255, 255, 255, 0.2);  
}
.submit{
    padding:10px;
    border-radius: 50px;
    text-align: center;
    width:380px;
    color: black;
    border:1px solid rgba(255, 255, 255, 0.2);   
    background-color: white;
}
.p{
    color: hwb(0 100% 0% / 0.681);
    padding-left: 10px;
    /* padding-right: 50px; */
}
.p a{
    color:white;
    text-decoration: none;
    /* padding-left: 100px; */
}