
.app{
  background-size: cover;
background-position: center;
height: 100vh;
width: 100vw;
transition: background-image;
}
@media (max-width: 768px) {
  .app{
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 41rem;
    transition: background-image;
  }
}